/** Add css rules here for your application. */

body
{
	background-image:url('/images/brillant.png');
	background-repeat: repeat;
}

/** Navigation bar styling **/ 
.logoStyle
{
font-family: Lobster;
font-size: 34px;
float: left;
color: #696F79;
margin-top: 18px;
margin-right: 20px;
}

.navBarStyle{
	opacity: 0.95;
	background-color: black;
	max-height: 60px;
	-webkit-box-shadow: -4px 3px 6px grey;
}

.navBarButtonReplace
{
font: 15px/20px helvetica,arial,sans-serif;
color: #8596A7;
display: block;
float: left;
padding: 24px 20px 0px;
margin-left: -5px;
font-weight: 200;
line-height: 1;
}

.innerNav
{
	position: relative;
	width: 960px;
	margin: 0pt auto;
}

.directionPadding
{
	margin-left: 6px;
}

/** ListView Map Styling **/
.mapStyle
{
	position: absolute;
	height: 100%;
}

.nopadding
{
	margin-bottom: 0px;
/* 	overflow: visible; */
}

.popupPlacement
{
	bottom: 10px !important;
	position: absolute !important;
	right: auto !important;
	top: auto !important;
	background-color: white;
}

li
{
	list-style: none outside none;
}

.clear{
	clear: both;
	display: block;
	visibility: hidden;
	height: 0pt;
	font-size: 0pt;
}

/** List View Styling **/
#content
{
	position: relative;
	width: 960px;
	margin: 0pt auto;
	padding: 20px 0 pt 40px;
}

#cols
{
	padding-bottom: 30px;
}

#cols .col_large
{
	min-height: 1px;
	float: left;
	margin-right: 30 px;
	width: 586px;
	padding-left: 10px;
	margin-bottom: 80px;
}
#cols .col_small
{
	float: left;
	width: 330px;
	font-size: 12px;
	line-height: 16px;
	margin-top: 10px;
}
#main
{
	margin: 0pt auto;
	position: relative;
	font: 13px/20px helvetica, arial, sans-serif;
	color:rgb(123,128,132);
}
#main .marginal
{
	margin-top: 60px;
}

.container
{
	position: relative;
	margin: 0pt auto;
	width: 960 px;
	margin-bottom: 10px;
	margin-top: 20px;
	border-bottom: 1px solid rgb(221,221,221);
}
.innerContainer
{
	position: relative;
	margin: 0pt auto;
	width: 960px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.container ul > li
{
	border-bottom: 1px solid rgb(221,221,221);
}

.container ul.menu
{
	float: left;
}

.fixedpos
{
	position: fixed;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */

/** ListItemContainer Styles **/
#closeButton {
  margin: 15px 6px 6px;
}

.boldText{
/* 	font-weight: 500; */
	padding-right: 60px;
}

.boldText2{
	font-weight: 600;
	padding-right: 2px;
	font-size: 12px;
}
.topPadding{
	margin-top: 7px;
}

.bottomItemPosition
{
position: absolute;
bottom: 5px;
top: auto;
}

.miscStyle{
	font-weight: 600;
	
}

.miscStyle2{
	padding-left: 5px;;
}

.titleStyle{	
	color: white;
	opacity: 1;	
	}


.leftPanel{
	/*width: 300px;
	height: 200px;*/
	float: left;
	position: relative;
	overflow: hidden;
}

.leftPic {
	width: 300px;
	height: 200px;
	float: left;
}

.leftText{
	width: 290px;
	height: 60px;
	padding: 5px;
	z-index: 9999;
	background-color: rgba(0,0,0,.6);
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	top:130px;
	left:0px;
	text-align: center;
	target-new: tab;
}

.rightPanel {
	float: left;
	width: 200px;
	height: 200px;
	padding-left: 10px;
}

.itemContainer{
	/*width: 400px;*/
	height: 200px;
	margin-top: 25px;
	border-width:1px;
  	border-color: rgb(192,192,192);
  	border-style: solid;
  	position: relative;
  	background-color: white;
}

ul li {
	list-style: none;
	padding-left: 5px;
}

.dirButton {
	margin-left: 50px;
	margin-bottom: 5px;
	padding-left: 50px;
	text-align: center;
}

.bizNameStyle {
	font-weight: 600;
	
}

a:link.bizNameStyle {
	color: #000000;
}


.subTitleStyle {
	color: #999999;	
}

.socialMedia{
	margin-top:40px;
	text-align: center;
	width: 300px;
}

.socialMedia table {
	margin: 0 auto;
}

.leftButton {
	z-index: 9999;
	position: absolute;
	top: 5px;	
	left: 5px;
}

.numReviews{
	padding: 3px;
}
.boldNumbers{
	font-size: 2em;
	font-weight: 600;
	padding: 5px;
	font-family:Lobster;
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

#map_canvas img {
    max-width: none;
}

.infowin {
	font-size: 14px;
	padding: 0px;
}
